@use '../../../styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: vars.$white;

  .name {
    font-family: var(--font-jaini-purva);
    font-size: 3.125rem;
    background: linear-gradient(140deg, #ffd13b 42.24%, #ca8300 66.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;

    @media screen and (max-width: vars.$breakpoint-md) {
      font-size: 2.5625rem;
    }

    @media screen and (max-width: vars.$breakpoint-sm) {
      font-size: 2rem;
    }
  }

  .imageContainer {
    width: 276px;
    height: 276px;

    .image {
      width: 100%;
      height: 100%;
      overflow: visible;
    }
  }

  .text {
    font-size: 1.72rem;
    margin: 0 2rem;

    @media screen and (max-width: vars.$breakpoint-md) {
      font-size: 1.36rem;
    }

    @media screen and (max-width: vars.$breakpoint-sm) {
      font-size: 1rem;
      margin: 0 1rem;
    }
  }

  .nature {
    font-family: var(--font-jaini-purva);
  }

  .description {
    max-width: 963px;
  }

  .homeLink {
    display: block;
    padding: 1rem 2rem;
    border: 1px solid vars.$white;
    border-radius: 1.875rem;
    color: vars.$white;
    text-decoration: none;
    cursor: pointer;
  }
}
