.container {
    display: flex;
    flex-direction: column;
}
.shelf {
    position: absolute;
    top: 9.86rem;
    left: 26.5rem;
}
.books {
    position: absolute;
    left: 28rem;
    top: 4.87rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.book2 {
    position: relative;
    bottom: 0;
}