@use '../../styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2.5rem;

  @media screen and (max-width: vars.$breakpoint-md) {
    text-align: left;
    gap: 1rem;
  }

  .title {
    font-family: var(--font-jaini-purva);
    font-size: 2.5rem;
    @media screen and (max-width: vars.$breakpoint-md) {
      font-size: 2.25rem !important;
      line-height: 2.625rem !important;
    }
  }

  .statNumber1 {
    font-size: 4.125rem;
    color: vars.$green;
  }

  .statNumber2 {
    font-size: 4.125rem;
    color: vars.$light-blue;
  }

  .statNumber3 {
    font-size: 4.125rem;
    color: vars.$yellow;
  }

  .statNumber1,
  .statNumber2,
  .statNumber3 {
    @media screen and (max-width: vars.$breakpoint-md) {
      font-size: 2.5rem;
    }
  }
}
