@use '../../styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2.5rem;
  position: absolute;
  bottom: 7.5vw;
  right: 10%;
  z-index: 1000;

  @media screen and (max-width: vars.$breakpoint-xl) {
    gap: 1rem;
    bottom: 5vw;
  }

  @media screen and (max-width: vars.$breakpoint-lg) {
    bottom: 4vw;
    gap: 0.75rem;
  }
  @media screen and (max-width: vars.$breakpoint-md) {
    bottom: 40vw;
    gap: 0.5rem;
    right: 5vw;
  }
}
.textSpacing {
  display: flex;
  flex-direction: column;
}
.question {
  color: vars.$white;
  text-align: right;
  font-family: var(--font-jaini-purva);
  font-size: 2.5625rem;
  line-height: 2.25rem;
  letter-spacing: -0.01563rem;

  @media screen and (max-width: vars.$breakpoint-xl) {
    font-size: 2rem !important;
  }
  @media screen and (max-width: vars.$breakpoint-lg) {
    font-size: 1.5rem !important;
  }
}

.highlight {
  color: vars.$yellow;
}

.ctaButton {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: var(--White, #fff);
  color: var(--black, #000);
  line-height: 1;

  @media screen and (max-width: vars.$breakpoint-xl) {
    font-size: 0.75rem !important;
    padding: 0.5rem 1rem;
  }

  @media screen and (max-width: vars.$breakpoint-sm) {
    font-size: 0.5rem !important;
    padding: 0.5rem 1rem;
  }

  .arrow {
    width: 31px;
    height: 31px;
    margin-left: 10px;
    vertical-align: middle;

    @media screen and (max-width: vars.$breakpoint-xl) {
      transform: scale(0.5);
      margin-left: 0px;
    }
  }
}
