@use '../../styles/vars.scss' as vars;

.faqContainer {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: vars.$breakpoint-md) {
    margin-left: -1rem;
  }
}

.accordion {
  box-shadow: none;
  margin: 0 !important;
  padding: 0.5rem 0;
  // border-bottom: none;
  z-index: 3;

  // &:first-of-type {
  //   border-top: none;
  // }

  // &:last-of-type {
  //   border-bottom-left-radius: 0;
  //   border-bottom-right-radius: 0;
  //   border-bottom: 1px solid vars.$neutral;
  // }

  @media screen and (max-width: vars.$breakpoint-md) {
    padding: 0.25rem 0;
  }
}

.accordionRoot {
  background-color: transparent !important;
  // border-top: 1px solid vars.$neutral;

  &:before {
    display: none;
  }
}

.accordionSummary {
  padding: 0 1rem;
  flex-direction: row-reverse;

  :global(.MuiAccordionSummary-content) {
    margin: 0;
  }

  :global(.MuiAccordionSummary-expandIconWrapper) {
    margin-right: 1rem;
    transform: rotate(90deg);

    &.Mui-expanded {
      transform: rotate(180deg);
    }
  }
}

.accordionDetails {
  padding: 1rem 1rem 1rem 2rem;
  color: vars.$white;
}

.expandIcon {
  color: vars.$white;
  min-width: 24px;
}

.accordionQuestion {
  color: vars.$white;

  // @media screen and (max-width: vars.$breakpoint-md) {
  //   font-size: 0.75rem !important;
  // }
}

.accordionAnswer {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  color: vars.$white;

  a {
    color: vars.$blue;
  }
}
