@use '../../styles/vars.scss' as vars;

.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 8rem calc(vars.$side-padding * -1) 0;
  overflow: visible;

  @media screen and (max-width: vars.$breakpoint-md) {
    margin: 6rem calc(vars.$side-padding-mobile * -1) 0rem calc(vars.$side-padding-mobile * -1);
  }
}

.sunGod {
  position: absolute;
  max-width: 600px;
  width: 50%;
  right: 0;
  top: 0;

  pointer-events: none;
  user-select: none;
}

.roofWrapper {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1000;
  overflow: hidden;
  padding-top: 2rem;

  @media screen and (max-width: vars.$breakpoint-md) {
    height: 380px;
  }
}

.roofTop {
  width: 90%;
  height: 100%;
  aspect-ratio: 16 / 9;
  max-height: 600px;
  max-width: 1400px;
  background-color: #22272d;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: relative;

  overflow: visible;

  display: block;
  margin: 0 auto;
  flex-shrink: 0;
  z-index: 11;

  @media screen and (max-width: vars.$breakpoint-md) {
    width: 150%;
  }
}

.landingText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 500;
  white-space: nowrap;

  @media screen and (max-width: vars.$breakpoint-lg) {
    top: 65%;
  }
}
