// Colors
$black: #151625;
$blue: #9ecaff;
$light-blue: #8ab3ff;
$dark-blue: #0061a3;
$darker-blue: #003258;
$teal: #182f8c;
$green: #7bff80;
$red: #ff8e72;
$orange: #f9a857;
$yellow: #ffd13b;
$white: #ffffff;
$neutral: #a1acbd;

// Media Query Standard Breakpoints
$breakpoint-sm: 425px; 
$breakpoint-md: 870px; // Use this breakpoint for most mobile-first CSS designs
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$breakpoint-navbar: 1000px;
$background-border: linear-gradient(
  90deg,
  #e981a0 0%,
  #ff6f6f 16.15%,
  #f9a857 34.9%,
  #51c0c0 56.77%,
  #62b0ff 74.48%,
  #816dff 100%
);
$side-padding: 5rem;
$side-padding-mobile: 1rem;

$card-bg: rgba(255, 255, 255, 0.05);
$card-stroke: rgba(255, 255, 255, 0.15);
