@use '../../styles/vars.scss' as vars;

.container {
  width: 61.89638rem;
  height: 49.58488rem;
  flex-shrink: 0;
  background-color: #22272d;
  display: flex;
  margin: auto;
  flex-direction: column;

  .isDesktop {
    margin: 0 calc(-1 * vars.$side-padding);
    width: calc(100% + 2 * vars.$side-padding);
  }

  .isMobile {
    display: none;
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    gap: 3.25rem;

    .isMobile {
      display: block;
      margin: 0 auto;
      width: 80%;
    }

    .isDesktop {
      display: none;
    }
  }
}

.greyBackground {
  // width: 100%;
  height: calc(100% - 1.74rem);
  margin: 0 1.74rem 0 1.74rem;
  position: relative;
  // bottom: 1.72rem;
  flex-shrink: 0;
  background: radial-gradient(33.86% 33.86% at 26.75% 67.13%, #ffaf8a 0%, #696f78 100%);
}

.tritonCarpet {
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
}
