@use '../../styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem vars.$side-padding;
  background-color: #111C328C;
  transition: transform 0.15s ease-in-out;
  z-index: 2000;
  gap: 3rem;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, #E981A0 0%, #FF6F6F 16.15%, #F9A857 34.9%, #51C0C0 56.77%, #62B0FF 74.48%, #816DFF 100%);
  border-image-slice: 1;
  backdrop-filter: blur(50px);

  @media screen and (max-width: vars.$breakpoint-navbar) {
    padding: 1rem vars.$side-padding-mobile;
    width: auto;
    gap: 0rem;
  }
}

.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-100%);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  @media screen and (max-width: vars.$breakpoint-navbar) {
    display: none;
    color: vars.$white;
    align-self: flex-start;
  }
}


.logoText {
  font-weight: 200 !important;
  line-height: 1.375rem !important;
}

.desktopLinks {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-left: auto;

  @media screen and (max-width: vars.$breakpoint-navbar) {
    display: none;
  }
}

.link {
  text-decoration: none;
  color: vars.$white;

  @media screen and (max-width: vars.$breakpoint-navbar) {
    background-color: vars.$black;
    text-align: center;
  }
}

.mobileIcons {
  display: none;
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  margin-left: auto;

  .menuIcon {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  @media screen and (max-width: vars.$breakpoint-navbar) {
    display: block;
  }
}

.mobileMenu {
  padding: 1.5rem vars.$side-padding-mobile;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: vars.$black;
  padding-top: 6rem;
}

.yearDropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .yearToggle {
    font: inherit;
    background: transparent;
    color: vars.$white;
    display: flex;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0px;
  }

  .yearOptions {
    position: absolute;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: inherit;
    background-color: vars.$card-bg;
    border-radius: 8px;

    .yearItem {
      color: vars.$white;
      text-decoration: none;
      transition: background-color 0.2s;
      text-align: center;
      padding: 0.75rem;
      border-radius: inherit;

      &:hover {
        background-color: vars.$card-stroke;
      }
    }
  }
}

.ctaButton {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
  background-color: vars.$white;
  color: vars.$teal;
  border: none;
  border-radius: 1.875rem;
  padding: 1rem 2rem;
  text-decoration: none;

}
