@use '../../styles/vars.scss' as vars;

.title {
  color: var(--White, #fff);
  font-family: var(--font-jaini-purva);

  @media screen and (max-width: vars.$breakpoint-md) {
    font-size: 2rem !important;
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  height: 50rem;
  position: relative;
  flex-shrink: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: vars.$breakpoint-lg) {
    height: 62.5rem;
  }
}

.trapezoidOuter {
  top: 0%;
  width: 88%;
  height: 100%;
  background: #22272D; 
  position: absolute;
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);

  @media screen and (max-width: vars.$breakpoint-md) {
    width: 100%;
  }
}

.trapezoidInner {
  position: absolute;
  inset: 20px;
  background: radial-gradient(circle 700px at 85% 90%, #5C677BBB, #40454B);
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  z-index: 1;

  @media screen and (max-width: vars.$breakpoint-xl) {
    background: radial-gradient(circle 600px at 90% 90%, #5C677BBB, #40454B);
  }

  @media screen and (max-width: vars.$breakpoint-lg) {
    background: radial-gradient(circle 500px at 90% 90%, #5C677BBB, #40454B);
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    background: radial-gradient(circle 400px at 85% 90%, #5C677BBB, #40454B);
  }
}

.gradient {
  inset: 20px;
  clip-path: polygon(10% 0, 90% 0, 90% 100%, 10% 100%);
  position: absolute;
  
  background: #696F78;
  z-index: 0;
}

.crack {
  top: 0%;
  left: 70%;
  width: 65px;
  height: 298px;
  position: absolute;
}

.decor {
  position: absolute;
  bottom: 0;
  left: 65%;
  transform: translateX(-50%);
  z-index: 2;
  width: 50%;

  @media screen and (max-width: vars.$breakpoint-lg) {
    width: 60%;
    left: 60%;
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    bottom: 2%;
    left: 50%;
    width: 88%;
    transform: translateX(-55%);
  }
}

.faqContent {
  display: flex;
  flex-direction: column;
  z-index: 3;
  align-items: flex-start;
  position: absolute;
  top: 5rem;
  left: 15%;
  gap: 1rem;
  width: 65%;

  @media screen and (max-width: vars.$breakpoint-md) {
    top: 2rem;
    left: 20%;
  }
}
