@use '../../styles/vars.scss' as vars;

.title {
  color: var(--White, #fff);
  font-family: var(--font-jaini-purva);

  @media screen and (max-width: vars.$breakpoint-md) {
    font-size: 2rem !important;
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  height: 50rem;
  position: relative;
  flex-shrink: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trapezoidOuter {
  top: 0%;
  width: 88%;
  height: 800px;
  background: #22272D; 
  position: absolute;
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);

  @media screen and (max-width: vars.$breakpoint-md) {
    width: 100%;
    height: 668px;
  }
}

.trapezoidInner {
  position: absolute;
  inset: 20px;
  background: #5C677B66;  // TODO: change to gradient
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
}

.shelf {
  position: absolute;
  bottom: 1rem;
  right: 10%;
  z-index: 2;
  width: 30%;

  @media screen and (max-width: vars.$breakpoint-md) {
    width: 50%;
    max-width: 300px;
  }
}

.cauldron {
  position: absolute;
  bottom: 1rem;
  right: 30%;
  z-index: 2;
  width: 25%;

  @media screen and (max-width: vars.$breakpoint-md) {
    width: 50%;
    max-width: 300px;
  }
}

.faqContent {
  display: flex;
  flex-direction: column;
  z-index: 3;
  align-items: flex-start;
  position: absolute;
  top: 5rem;
  left: 17.5%;
  gap: 1rem;
  width: 65%;

  @media screen and (max-width: vars.$breakpoint-md) {
    top: 1rem;
  }
}
