@use '../../styles/vars.scss' as vars;

$imageWidth: 184px;
.container {
  position: relative;
  overflow: hidden;
  margin-top: 1.25rem;
  width: 100%;
  flex: 0 1 auto;
  .carousel {
    display: flex;
    width: 100%;
    height: 150px;
    gap: 1.25rem;
    animation: slide 60s linear infinite;

    .image {
      position: relative;
      min-width: $imageWidth;
      height: 100%;
      border-radius: 16px;

      img {
        object-fit: cover;
        object-position: 40% 20%;
        border-radius: inherit;
      }
    }
  }

  &:hover .carousel {
    animation-play-state: paused;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      #696f78 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      #696f78 100%
    );
    z-index: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-#{$imageWidth} * 4 - 1.25rem * 4));
  }
}
