@use '@/styles/vars' as vars;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.container {
  border-top: 2px solid transparent;
  border-image: linear-gradient(
      to right,
      #e981a0,
      // pink
      #f6d365,
      // yellow
      #a8e063,
      // green
      #38a3a5,
      // teal
      #3b82f6,
      // blue
      #9b5de5 // purple
    )
    1;
  background: var(--Background, #10131b);

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  padding: 5rem 5rem;
  position: relative;
  margin: 0 calc(vars.$side-padding * -1);

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  @media screen and (max-width: vars.$breakpoint-md) {
    padding: 4rem vars.$side-padding-mobile;
    margin: 0 calc(vars.$side-padding-mobile * -1);
  }
}

.backgroundLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  max-width: min(100% - 2 * vars.$side-padding, 580px);
  height: auto;
  object-fit: contain;

  @media screen and (max-width: vars.$breakpoint-md) {
    max-width: min(100% - 2 * vars.$side-padding-mobile, 580px);
  }
}

.backgroundRight {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  max-width: min(100% - 2 * vars.$side-padding, 850px);
  height: auto;
  object-fit: contain;

  @media screen and (max-width: vars.$breakpoint-md) {
    max-width: min(100% - 2 * vars.$side-padding-mobile, 850px);
  }
}

.linksContainer {
  position: absolute;
  top: 25%;
  left: 7.5rem;
}
.links {
  text-decoration: none;
  color: vars.$white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    color: vars.$white;
    img {
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.7));
    }
  }
  .acmTitle {
    text-decoration: none;
    color: vars.$white;
    margin: auto;
    color: #fff;
    font-family: 'DM Sans';
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .acmText {
    text-decoration: none;
    color: vars.$white;
    margin: auto;
    color: #fff;
    font-family: 'DM Sans';
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    gap: 2rem;
    a {
      img {
        display: none;
      }
    }
  }
}

.socials {
  position: absolute;
  top: 55%;
  right: 7.5vw;
  display: flex;
  gap: 1rem;
  align-items: flex-start;

  a {
    svg {
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.7));
    }
  }
}
