@use '../../styles/vars.scss' as vars;

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;

  .innerContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
  }

  .diamond {
    position: relative;
    height: 896px;
    width: 350px;
  }

  .slidingDiamondWrapper {
    position: sticky;
    top: -6rem;
    z-index: 1;
    pointer-events: none;
    height: 400px; // So the diamond doesn't slide off the rope

    .slidingDiamond {
      position: absolute;
      top: 0;
      left: calc(-1 * vars.$side-padding);
    }
  }

  .rope {
    width: auto;
    position: absolute;
    top: 0;
    left: calc(-1 * vars.$side-padding);
    object-fit: contain;
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    height: auto;

    .diamond {
      display: none;
    }
  }
}
